<!-- Modal Overlay -->
<div class="modal modal--overlay" id="editUserModal">
  <div class="modal__content">
    <button class="modal__close-button" id="editUserCloseBtn">
      <i class="modal_close-icon fa-solid fa-xmark"></i>
    </button>

    <div class="modal__header">
      <h2 class="modal__title">Modifier mon profil</h2>
      <p class="modal__subtitle"></p>
    </div>

    <form class="modal__form" id="editUserForm">
      <div class="modal__wrapper">
        <label for="editUserFirstname" class="modal__label">Prénom</label>
        <input type="text" id="editUserFirstname" name="firstname" class="modal__input" value="<%= user.firstname %>">
        <p class="modal__error" id="editUserFirstnameError">Prénom requis</p>
      </div>

      <div class="modal__wrapper">
        <label for="editUserLastname" class="modal__label">Nom</label>
        <input type="text" id="editUserLastname" name="lastname" class="modal__input" value="<%= user.lastname %>">
        <p class="modal__error" id="editUserLastnameError">Nom requis</p>
      </div>

      <div class="modal__wrapper">
        <label for="editUserLocation" class="modal__label">Ville</label>
        <input type="text" id="editUserLocation" name="location" class="modal__input" value="<%= user.location %>">
        <p class="modal__error" id="editUserLocationError">Ville requise</p>
      </div>

      <div class="modal__wrapper">
        <label for="editUserEmail" class="modal__label">Adresse e-mail</label>
        <input type="email" id="editUserEmail" name="email" class="modal__input" value="<%= user.email %>">
        <p class="modal__error" id="editUserEmailError">Adresse e-mail requise</p>
      </div>

      <p class="modal__global-error" id="editUserError">Une erreur est survenue. Merci de réessayer.</p>

      <button type="submit" class="modal__submit-button call-to-action">Mettre à jour</button>
    </form>
  </div>
</div>
