/* === About Section === */

.about {
  height: 80vh;
  padding: 0 10%;
  color: var(--text-light-color);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  background-image: linear-gradient(
      rgba(47, 47, 149, 0.7),
      rgba(47, 47, 149, 0.7)
    ), url("../../images/hands-cooking.png");
  background-size: cover;
  background-position: center;
}

/* === About Section Text === */

.about__text {
  max-width: 42rem;
}

.about__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.title__span {
  font-style: italic;
}

.about__description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

/* === About Section Search Bar === */
.about__search {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 30rem;
}

.about__search-input {
  width: 100%;
  padding: 1rem 1rem 1rem 1.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
}

.about__search-button {
  position: absolute;
  right: 0.5rem;

  background: var(--primary-color);
  color: var(--text-light-color);

  width: 2.6rem;
  height: 2.6rem;

  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about__search-icon {
  font-size: 1rem;
}

.about__search-button:hover {
  background-color: var(--primary-darker-color);
  border-color: var(--primary-darker-color);

  transition: all 0.1s ease-in-out;
}

/* === About Section Responsive === */
@media screen and (max-width: 720px) {
  .about {
    height: 70vh;
    justify-content: center;
    text-align: center;
    padding: 0 5%;
  }

  .about__text {
    max-width: 20rem;
  }

  .about__search {
    max-width: 20rem;
    margin: 0 auto;
  }
}

/* ======================================================================================================================== */

/* === Random Users Section === */

.random-users {
  margin: 3rem 10%;
  max-width: 1200px;
}

.random-users__title {
  text-align: left;
  color: var(--text-dark-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.random-users__list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

/* Random Users Section Responsive */
@media screen and (max-width: 720px) {
  .random-users {
    margin: 2rem 10%;
  }
}
