/* === Search-results Section === */
.search-results {
  min-height: 50vh;
  padding: 0 10%;
  color: var(--text-dark-color);
}

.search-results__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

.search-results__list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.search-results__no-results {
  font-size: 1rem;
  margin: 2rem 0;
  text-align: center;
}

/* === Search-results Section Search Bar=== */
.search-results__search {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 30rem;

  margin: 2rem 0;
}

.search-results__search-input {
  width: 100%;
  padding: 1rem 1rem 1rem 1.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
}

.search-results__search-button {
  position: absolute;
  right: 0.5rem;

  background: var(--primary-color);
  color: var(--text-light-color);

  width: 2.6rem;
  height: 2.6rem;

  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results__search-icon {
  font-size: 1rem;
}

.search-results__search-button:hover {
  background-color: var(--primary-darker-color);
  border-color: var(--primary-darker-color);

  transition: all 0.1s ease-in-out;
}

/* === Search-results Section Responsive === */
@media screen and (max-width: 720px) {
  .search-results {
    padding: 0 5%;
  }

  .search-results__search {
    max-width: 20rem;
  }

  .search-results__title {
    font-size: 1.25rem;
  }
}
