.about_banner {
  height: 50vh;
  padding: 0 10%;
  color: var(--text-light-color);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  background-image: linear-gradient(rgba(47, 47, 149, 0.7), rgba(47, 47, 149, 0.7)), url("../../images/hands-cooking.png");
  background-size: cover;
  background-position: center;
}

.about__terms {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.about__terms-content {
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 1rem;
}

span {
    font-style: italic;
    font-weight: bold;
}