.about__terms {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.about__terms-content {
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 1rem;
}

span {
    font-style: italic;
    font-weight: bold;
}