<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Common styles, scripts, and meta tags -->
	<%- include('../partials/head') %>

	<!-- Title -->
	<title>Skillswap</title>

	<!-- Style -->
	<link rel="stylesheet" href="/css/pages/home.css">
	<link rel="stylesheet" href="/css/pages/terms.css">
</head>

<body>
	<%- include('../partials/header') %>

  <main class="main">
    <section class="about">
			<div class="about__content">
				<div class="about__text">
					<h1 class="about__title">Contacter le service Client <span class="title__span">SKILLSWAP</span></h1>
				</div>
      </div>
    </section>

    <section class="about__terms">
      <div class="about__terms-content">
        <h2>Contact</h2>
        <p>Pour toute question, vous pouvez nous contacter à l'adresse suivante : <a href="mailto:skillswap@gmail.com">skillswap@gmail.com</a></p>
      </div>
    </section>
  </main>

  <%- include('../partials/footer') %>
	
</body>

</html>