<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Common styles, scripts, and meta tags -->
	<%- include('../partials/head') %>

	<!-- Title -->
	<title>Skillswap</title>

	<!-- Style -->
	<link rel="stylesheet" href="/css/pages/home.css">
  <link rel="stylesheet" href="/css/pages/terms.css">
</head>

<body>
	<%- include('../partials/header') %>

  <main class="main">
    <section class="about__banner">
			<div class="about__content">
			</div>
		</section>
    <div class="about__terms-content">
		  <h2>Conditions Générales d'Utilisation (CGU)</h2>

      <p><span>Accès au site :</span> L'accès au site est gratuit mais peut nécessiter une inscription pour accéder à certaines fonctionnalités.</p>

      <p><span>Responsabilité :</span> L'éditeur du site ne saurait être tenu responsable des litiges entre les utilisateurs et les prestataires de services.</p>

      <p><span>Contenu :</span> Les utilisateurs sont seuls responsables des informations publiées sur la plateforme.</p>

      <p><span>Suppression de compte :</span> L'éditeur se réserve le droit de supprimer tout compte ne respectant pas les CGU.</p>
    </div>
  </main>

  <%- include('../partials/footer') %>
	
</body>

</html>