<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Common styles, scripts, and meta tags -->
    <%- include('../partials/head') %>

    <!-- Title -->
    <title>Skillswap</title>

    <!-- Style -->
    <link rel="stylesheet" href="/css/pages/home.css" />
    <link rel="stylesheet" href="/css/partials/userCard.css" />
  </head>

  <body>
    <%- include('../partials/header') %>

    <main class="main">
      <section class="about">
        <div class="about__content">
          <div class="about__text">
            <h1 class="about__title">
              Échangez, apprenez, <span class="title__span">évoluez</span>
            </h1>
            <p class="about__description">
              SkillSwap est une plateforme qui met en relation des particuliers
              souhaitant partager et apprendre de nouvelles compétences.
              Rejoignez une communauté dynamique où l'apprentissage se fait par
              l'échange.
            </p>
          </div>

          <form class="about__search" action="/search" method="GET">
            <label for="search-skills" class="about__search-label">
              <span class="sr-only">Rechercher une compétence</span>
            </label>
            <input
              type="text"
              id="search-skills"
              name="query"
              class="about__search-input"
              placeholder="Cuisine thaï, yoga, bricolage, ..."
              aria-label="Rechercher une compétence"
            />
            <button
              type="submit"
              class="about__search-button"
              aria-label="Rechercher"
            >
              <i class="about__search-icon fas fa-search"></i>
            </button>
          </form>
        </div>
      </section>

      <section class="random-users">
        <h2 class="random-users__title">
          Trouvez des profils avec qui échanger !
        </h2>

        <ul class="random-users__list">
          <% users.forEach(user => { %>
          <li class="random-users__user">
            <%- include('../partials/userCard', { user }) %>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
