<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Common styles, scripts, and meta tags -->
	<%- include('../partials/head') %>

	<!-- Title -->
	<title>Skillswap</title>

	<!-- Style -->
	<link rel="stylesheet" href="/css/pages/home.css">
</head>

<body>
	<%- include('../partials/header') %>

</body>

</html>