<!DOCTYPE html>
<html lang="fr">

<head>
	<!-- Common styles, scripts, and meta tags -->
	<%- include('../partials/head') %>

	<!-- Title -->
	<title>Se connecter | Skillswap</title>

	<!-- Style -->
	<link rel="stylesheet" href="/css/pages/login.css">

	<!-- Script -->
	<script defer src="/js/pages/login.js"></script>
</head>

<body>
	<%- include('../partials/header', { hideAuthButtons: true }) %>

  <main class="main">
		<section class="login">
			<div class="login__container">
				<header class="login__header">
					<h1 class="login__title">Se connecter</h1>
					<p class="login__subtitle">
						Pas encore membre ?
						<a href="/register<%= returnTo ? '?returnTo=' + encodeURIComponent(returnTo) : '' %>" class="login__alt-link secondary-button">S'inscrire</a>
					</p>
				</header>

				<form class="login__form" id="loginPageForm" method="POST" action="/login">
					<div class="login__field">
						<label for="loginEmail" class="login__label">Adresse e-mail</label>
						<input type="email" id="loginPageEmail" name="email" class="login__input" placeholder="name@example.com">
						<p class="login__error" id="loginPageEmailError">Adresse e-mail requise</p>
					</div>

					<div class="login__field">
						<label for="loginPassword" class="login__label">Mot de passe</label>
						<input type="password" id="loginPagePassword" name="password" class="login__input" placeholder="********">
						<p class="login__error" id="loginPagePasswordError">Mot de passe requis</p>
					</div>

					<p class="login__global-error" id="loginPageError">Adresse e-mail ou mot de passe incorrect. Veuillez réessayer.</p>

					<button type="submit" class="login__submit-button call-to-action">Se connecter</button>
				</form>
			</div>
		</section>
	</main>

  <%- include('../partials/footer') %>
	
</body>

</html>