<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Common styles, scripts, and meta tags -->
	<%- include('../partials/head') %>

	<!-- Title -->
	<title>Skillswap</title>

	<!-- Style -->
	<link rel="stylesheet" href="/css/pages/home.css">
	<link rel="stylesheet" href="/css/pages/terms.css">
</head>

<body>
	<%- include('../partials/header') %>

  <main class="main">
		<section class="about__banner">
			<div class="about__content">
			</div>
		</section>

		<section class="about__terms">
			<div class="about__terms-content">
				<h2>Protection des Données Personnelles</h2>

				<p><span>Collecte de données :</span> Le site peut collecter des données personnelles (nom, email, informations de paiement) pour assurer son bon fonctionnement.</p>

				<p><span>Utilisation :</span> Ces données sont exclusivement utilisées dans le cadre de la mise en relation et de l'amélioration des services.</p>

				<p><span>Cookies :</span> Le site utilise des cookies pour améliorer l'expérience utilisateur et suivre les statistiques de navigation.</p>

				<p><span>Droits des utilisateurs :</span> Conformément au Règlement Général sur la Protection des Données (RGPD), les utilisateurs disposent d'un droit d'accès, de modification et de suppression de leurs données personnelles en contactant [Adresse email de contact].</p>
			</div>
		</section>
  </main>

  <%- include('../partials/footer') %>
	
</body>

</html>