<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Common styles, scripts, and meta tags -->
	<%- include('../partials/head') %>

	<!-- Title -->
	<title>Skillswap</title>

	<!-- Style -->
	<link rel="stylesheet" href="/css/pages/home.css">
	<link rel="stylesheet" href="/css/pages/terms.css">
</head>

<body>
	<%- include('../partials/header') %>

  <main class="main">
		<section class="about">
			<div class="about__content">
				<div class="about__text">
					<h1 class="about__title">Mentions légales de la Plateforme <span class="title__span">SKILLSWAP</span></h1>
					<p class="about__description">
						Toute utilisation de la Plateforme SwkillSwap est soumise au prealable a la prise de connaissance et à lacceptation expresse des Conditions Générales d'Utilisation.
					</p>
				</div>
				
				<form class="about__search" action="/search" method="GET">
					<label for="search-skills" class="about__search-label">
						<span class="sr-only">Rechercher une compétence</span>
					</label>
					<input 
						type="text" 
						id="search-skills" 
						name="query" 
						class="about__search-input" 
						placeholder="Que recherchez-vous ?" 
						aria-label="Rechercher une compétence"
					>
					<button type="submit" class="about__search-button" aria-label="Rechercher">
						<i class="about__search-icon fas fa-search"></i>
					</button>
				</form>
			</div>
		</section>

		<section class="about__terms">
			<div class="about__terms-content">
				<h2>1. Mentions légales</h2>
				<h3>1.1 Éditeur de la Plateforme</h3>
				<p>Le présent site internet est édité par :</p>
				<p>Nom de l'entreprise ou de l'auto-entreprise</p>
				<p>Adresse du siège social</p>
				<p>Numéro SIRET</p>
				<p>Directeur de la publication : Nom et prénom</p>
				<p>Email : Adresse email de contact</p>
				<p>Téléphone : Numéro de contact</p>

				<h3>1.2 Hebergement</h3>
				<p>Le site est hébergé par :</p>
				<p>[nom de l'hebergeur]</p>
				<p>[Adresse de l'hébergeur]</p>
				<p>[Email et/ou numéro de contact de l'hébergeur]</p>

				<h2>2. Activité du site</h2>
				<p>Le site a pour objet de mettre en relation des particuliers et des professionnels proposant des services avec des utilisateurs recherchant ces services. Il agit en tant qu'intermédiaire et ne garantit pas l'exécution des services proposés.</p>

				<h2>3. Propriété Intellectuelle</h2>
				<p>Tous les contenus (textes, images, logos, etc.) présents sur le site sont protégés par le droit d'auteur et ne peuvent être reproduits sans autorisation préalable.</p>

				<h2>4. Droit Applicable</h2>
				<p>Les présentes mentions légales sont régies par le droit français. En cas de litige, les tribunaux compétents seront ceux du ressort du siège social de l'éditeur du site.</p>
			</div>
		</section>
  </main>

  <%- include('../partials/footer') %>
	
</body>

</html>