/* ==== Variables ==== */

:root {
  --primary-color: #fb5139;
  --primary-darker-color: #d9432e;
  --dark-color: #2f2f95;
  --darker-color: #202068;
  --alt-color: #2e63f2;
  --grey-color: #c0c0c0;
  --light-color: #f8f8f8;
  --lighter-color: #ffffff;

  --text-color: #0d1117;
  --text-primary-color: #fb5139;
  --text-dark-color: #202068;
  --text-alt-color: #2e63f2;
  --text-neutral-color: #999999;
  --text-light-color: #ffffff;
  --text-error-color: #fb5139;
}
