/* === Primary button === */
.primary-button {
  display: block;
  padding: 0.6rem 1.1rem;

  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;

  color: var(--text-light-color);
  background-color: var(--dark-color);

  border: 1px solid var(--dark-color);
  border-radius: 0.7rem;
}

.primary-button:hover {
  background-color: var(--darker-color);
  border-color: var(--darker-color);

  transition: all 0.1s ease-in-out;
}

/* === Secondary button === */

.secondary-button {
  color: var(--text-dark-color);
  font-weight: bold;
  font-size: 0.9rem;
}

.secondary-button:hover {
  color: var(--text-alt-color);
  transition: all 0.1s ease-in-out;
}

/* === Call-to-action button === */

.call-to-action {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.7rem;
  background-color: var(--primary-color);
  font-weight: bold;
  color: var(--text-light-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.call-to-action:hover {
  background-color: var(--primary-darker-color);
}

/* === Smaller call-toaction button === */
.small-call-to-action {
  display: block;
  padding: 0.6rem 1.1rem;

  text-align: center;
  font-weight: bold;

  background-color: var(--primary-color);
  color: var(--text-light-color);

  border-radius: 0.7rem;
}

.small-call-to-action:hover {
  background-color: var(--primary-darker-color);

  transition: all 0.1s ease-in-out;
}

/* === Links === */

.app-link {
  color: var(--text-dark-color);
  font-weight: bold;
  font-size: 0.9rem;
}

.app-link:hover {
  color: var(--text-alt-color);
  transition: all 0.1s ease-in-out;
}

/* === Error message === */

.app-error-message {
  display: none;
  color: var(--error-color);
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
