/* ======== Modal overlay (background effect) ======== */
.modal--overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* ======== Modal content ======== */
.modal__content {
  background-color: var(--lighter-color);
  padding: 4rem 5rem;
  border-radius: 0.7rem;
  width: 100%;
  max-width: 31rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.modal__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--text-neutral-color);
}

.modal__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__logo {
  height: 2.5rem;
  width: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.modal__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.modal__subtitle {
  margin-bottom: 2.5rem;
}

.modal__label {
  display: block;
  margin-bottom: 0.5rem;
}

.modal__input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1.2rem;
  border: 1px solid var(--grey-color);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.modal__input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.modal__location-input-wrapper {
  position: relative;
}

.modal__input--location {
  padding-left: 2rem;
}

.modal__location-icon {
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-100%);
  color: var(--text-neutral-color);
  font-size: 1rem;
}

.modal__terms {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.modal__checkbox {
  width: 1rem;
  height: 1rem;
}

.modal__submit-button {
  margin-top: 1.5rem;
}

/* ======== Responsive ======== */
@media (max-width: 720px) {
  .modal__content {
    top: 0;
    left: 0;
    transform: none;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    padding: 2rem;
  }
}
