<header class="header">
  <a class="header__logo" href="/">
    <img src="/images/logo.png" alt="logo skillswap">
  </a>
  <div class="header__signup-login">
    <a class="header__signup" href="/register">S'inscrire</a>
    <a class="header__login" href="/login">Se connecter</a>
  </div>
</header>