<header class="header">
  <a class="header__logo-link" href="/">
    <img class="header__logo-img" src="/images/logo.png" alt="logo skillswap">
  </a>
  <div class="header__signup-login">
    <button class="secondary-button header__login">Se connecter</button>
    <button class="primary-button header__signup">S'inscrire</button>
  </div>
</header>

<%- include('../partials/loginModal') %>
<%- include('../partials/signupModal') %>