<header class="header">
  <a class="header__logo-link" href="/">
    <img class="header__logo-img" src="/images/logo.png" alt="logo skillswap">
  </a>
  <div class="header__signup-login">
    <button class="header__login secondary-button">Se connecter</button>
    <button class="header__signup primary-button">S'inscrire</button>
  </div>
</header>

<%- include('../partials/formModal') %>